.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: clamp(60vh, 80vw, 100vh);
  display: flex;
  align-items: flex-end;
  color: #fafafa;
  // padding: 0 0 clamp(2rem, 3vw, 4rem) clamp(2rem, 3vw, 4rem); // I took this out

  h2.banner {
    width: 45%;
  }

  .swiper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  @media screen and (min-width: 431px) {
    height: 100vh;
    align-items: center;
  }

  @media screen and (min-width: 540px) {
    h2.banner {
      display: block;
      transform: translateX(-45%) translateY(5vh) rotate(-90deg);
      width: 70vh;
      text-align: center;
    }
  }

  @media screen and (min-width: 812px) and (orientation: landscape) {
    h2.banner {
      transform: translateX(-30%) translateY(5vh) rotate(-90deg);
    }
  }

  @media screen and (min-width: 1024px) and (orientation: landscape) {
    h2.banner {
      transform: translateX(-45%) translateY(5vh) rotate(-90deg);
    }
  }

  @media screen and (min-width: 1368px) and (orientation: landscape) {
    h2.banner {
      transform: translateX(-50%) translateY(5vh) rotate(-90deg);
    }
  }
}

.content {
  position: absolute;
  top: clamp(52vh, 80vw, 100vh);
  color: #fafafa;
  padding: clamp(2rem, 4vw, 4rem);
  margin: 3rem auto;
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.5;
  width: 100%;
  background-color: #ffffff17;
  backdrop-filter: blur(5px);
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

  img {
    margin-top: clamp(1rem, 3vw, 3rem);
  }

  @media screen and (min-width: 431px) {
    top: clamp(20vh, 65vh, 80vh);
    right: clamp(2rem, 3vw, 4rem);
    width: 45%;
  }
}
