.text_container {
  position: absolute; // Add this to make z-index work
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #7b84ff;

  animation: fadeOut 1s 4s forwards; // 2.5s delay, 2.5s duration

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

}
