
.list_ul 
li {
  font-size: clamp(1.75rem, -0.875rem + 8.333vw, 2.5rem);
  list-style: none;
  margin: 0;
}

/* media device orientation landscape */
@media screen and  (max-width: 932px) and ( orientation: landscape) {
  .list_ul li {
    font-size: clamp(0.85rem, -0.875rem + 8.333vw, 1rem);
    list-style: none;
    margin: 0;
  }
}

/* .menu__button {
  -webkit-appearance: button;
  background: rgba(235, 41, 41, 0.449);
  backdrop-filter: blur(5px);
  color: purple;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.menu__button path {
  fill: white;
}

/* @keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-box {
  animation: slideIn 0.5s forwards;
}  */
