.text {
    height  : 30px;
    overflow: hidden;
    position: relative;
}

.text a {
    position         : absolute;
    width            : fit-content;
    height           : 100%;
    margin           : 0;
    line-height      : 30px;
    text-align       : center;
    /* Starting position */
    -moz-transform   : translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform        : translateX(100vw);
    /* Apply animation to this element */
    -moz-animation   : text 20s linear infinite;
    -webkit-animation: text 20s linear infinite;
    animation        : text 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes text {
    0% {
        -moz-transform: translateX(100vw);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes text {
    0% {
        -webkit-transform: translateX(100vw);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes text {
    0% {
        -moz-transform   : translateX(100vw);
        /* Firefox bug fix */
        -webkit-transform: translateX(100vw);
        /* Firefox bug fix */
        transform        : translateX(100vw);
    }

    100% {
        -moz-transform   : translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform        : translateX(-100%);
    }
}

.text a:hover {
    -moz-animation-play-state   : paused;
    -webkit-animation-play-state: paused;
    animation-play-state        : paused;
}



@media only screen and (max-width: 768px) {
    .text a {
        -moz-animation   : text 10s linear infinite;
        -webkit-animation: text 10s linear infinite;
        animation        : text 10s linear infinite;
    }
}