// Define your breakpoints
$breakpoint-medium: 650px;

.card_container {
  margin-top: clamp(49vh, 80vw, 100vh);
}

@media screen and (min-width: $breakpoint-medium) and (orientation: landscape) {
  .card_container {
    margin-top: clamp(49vh, 36vw, 100vh);
  }
}