.cardContainer {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card {
    // border: 1px solid white;
    color: #fafafa;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    padding: 5vw;
    transform-origin: top;
    background-color: rgba(51, 65, 85, 0.302);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }

    h2 {
      text-align: center;
      margin: 0px;
      font-size: clamp(1rem, 2vw, 1.5rem);
      font-weight: 700;
    }
    .body {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-evenly;
      height: 80%;
      // margin-top: 50px;
      gap: 50px;

      .description {
        width: 100%;
        p {
          margin-top: 0;
          font-size: clamp(0.75rem, 2vw, 1.2rem);
        }
        span {
          display: flex;
          align-items: center;
          gap: 5px;
          svg {
            path {
              fill: #fafafa;
            }
          }

          a {
            // font-size: 12px;
            font-size: clamp(0.75rem, 2vw, 1rem);
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 100%;
        height: 250px;
        border-radius: 25px;
        overflow: hidden;
        img {
          object-fit: cover;
          height: 250px;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) and (orientation: landscape) {
  .cardContainer {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    .card {
      border: 1px solid white;
      color: #fafafa;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 80vw;
      border-radius: 25px;
      padding: clamp(1rem, 4vw, 2rem);
      transform-origin: top;
      background-color: rgba(163, 163, 163, 0.212);
      backdrop-filter: blur(20px);
      h2 {
        text-align: center;
        margin: 0px;
        font-size: clamp(1rem, 3vw, 2rem);
      }
      .body {
        display: flex;
        flex-direction: row;
        height: 70%;
        margin-top: clamp(0.75rem, 2vw, 1rem);
        gap: 20px;
        align-items: center;

        .description {
          width: 60%;
        }

        .imageContainer {
          position: relative;
          width: 40%;
          height: 100%;
          border-radius: 25px;
          overflow: hidden;
          .inner {
            width: 100%;
            height: 100%;
          }
          img {
            object-fit: cover;
            height: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .cardContainer {
    height: 100vh;

    .card {
      height: 60vh;
      width: 60vw;
      padding: 50px;

      h2 {
        text-align: center;
        margin: 0px;
        font-size: clamp(1rem, 3vw, 2rem);
      }
      .body {
        height: 70%;
        margin-top: 50px;
        gap: 50px;

        .description {
          width: 50%;
        }

        .imageContainer {
          width: 50%;
        }
      }
    }
  }
}
