$color-white: rgb(250, 250, 250);
$color-amber-400: #7b84ff;
$color-slate-700: #00adef30;
$color-slate-900: rgb(26, 32, 44); // adjust this value as needed
$color-navbar: rgba(255, 255, 255, 0.2);
$color-navbar-hover: rgba(255, 255, 255, 0.30);
$color-error: rgb(255, 0, 0);
$transition-duration: 0.15s;
$transition-ease-in-out: ease-in-out;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.8rem;
$font-size-xl: 1.75rem;
$font-size-2xl: 2.5rem;
$blur-sm: 5px;
$blur-md: 10px;
$navbar-height: 7vh;
$gap-4: 1rem;
$margin-4: 1rem;
